#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 30px;
  margin: 0px;
  padding: 0.3rem !important;
  text-align: center;
  z-index: 999;
  border-radius: 0px !important;
  border: none !important;
}

#header button {
  width: 20vw;
  height: 20px;
  position: absolute;
  top: 5px;
  left: 40vw;
  padding: 0.1rem !important;
  z-index: 1000;
}

#openCanvasButton {
  display: none;
  position: fixed;
  bottom: 2%;
  right: 2%;
  width: 80px;
  height: 50px;
  padding: 5px !important;
  z-index: 500 !important;
}
#closeCanvasButton {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  z-index: 500 !important;
}
#prevImgButton {
  width: 30px;
  height: 30px;
  display: none;
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 2000;
}
#nextImgButton {
  width: 50px;
  height: 50px;
  display: none;
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 2000;
}

#likeButton {
  display: none;
  position: fixed;
  bottom: 2%;
  left: 50%;
  width: 100px;
  height: 100px;
  padding: 5px !important;
  margin: 0px !important;
  z-index: 500 !important;
}

#newPaintCanvas {
  display: none;
  border: 3px solid #fff;
  position: fixed;
  width: 100%;
  height: 80%;
  top: 5%;
  left: 0;
  z-index: 2001 !important;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: crosshair;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#toolPanel {
  width: 100%;
  position: fixed;
  bottom: 3%;
  left: 0;
  z-index: 2000 !important;
  display: none;
  margin-left: 10px;
  background-color: #ece8e8;
}

.colors {
  background-color: #ece8e8;
  text-align: center;
  padding: 5px !important;
  margin: 0px !important;
}

.colors button {
  display: inline-block;
  border: 1px solid #00000026;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 0px !important;
}

.colors button:nth-of-type(1) {
  background-color: red;
}
.colors button:nth-of-type(2) {
  background-color: salmon;
}
.colors button:nth-of-type(3) {
  background-color: orange;
}
.colors button:nth-of-type(4) {
  background-color: yellow;
}
.colors button:nth-of-type(5) {
  background-color: lemonchiffon;
}
.colors button:nth-of-type(6) {
  background-color: lightgreen;
}
.colors button:nth-of-type(7) {
  background-color: green;
}
.colors button:nth-of-type(8) {
  background-color: cyan;
}
.colors button:nth-of-type(9) {
  background-color: deepskyblue;
}
.colors button:nth-of-type(10) {
  background-color: blue;
}
.colors button:nth-of-type(11) {
  background-color: purple;
}
.colors button:nth-of-type(12) {
  background-color: maroon;
}
.colors button:nth-of-type(13) {
  background-color: black;
}
.colors button:nth-of-type(14) {
  background-color: white;
}
.colors button:nth-of-type(15) {
  background-color: silver;
}

.brushes {
  padding: 0px !important;
  margin: 0px !important;
}

.brushes button {
  display: block;
  width: 100%;
  height: 25px;
  border: 0;
  border-radius: 0;
  background-color: #ece8e8;
  padding: 10px !important;
  margin: 0px !important;
  outline: none;
  position: relative;
  cursor: pointer;
}

.brushes button:after {
  height: 1px;
  display: block;
  background: #808080;
  content: "";
}

.brushes button:nth-of-type(1):after {
  height: 1px;
}

.brushes button:nth-of-type(2):after {
  height: 3px;
}

.brushes button:nth-of-type(3):after {
  height: 5px;
}

.buttons {
  padding: 0px !important;
  margin: 0px !important;
}

.buttons button {
  display: block;
  width: 100%;
  border: 0;
  border-radius: 0;
  background-color: #ece8e8;
  margin-bottom: 10px !important;
  padding: 5px;
  height: 30px;
  outline: none;
  position: relative;
  cursor: pointer;
  font-size: 16px;
}

.imgInfo {
  position: fixed !important;
  bottom: 2% !important;
  left: 2% !important;
  width: 60% !important;
  height: 80px !important;
  word-wrap: break-word !important;
  overflow: scroll !important;
  background: rgba(255, 255, 255, 0.5) !important;
  color: #000;
  text-align: center;
  padding: 5px !important;
  margin: 0px !important;
  display: none;
}
