#openCanvasButton {
  display: none;
  position: fixed;
  top: 90%;
  left: 0%;
  width: 200px;
  height: 50px;
  z-index: 500 !important;
}
#closeCanvasButton {
  display: none;
  position: fixed;
  top: 90%;
  left: 50%;
  width: 200px;
  height: 50px;
  z-index: 500 !important;
}
#prevImgButton {
  width: 50px;
  height: 50px;
  display: none;
  position: fixed;
  top: 50%;
  left: 0;
}
#nextImgButton {
  width: 50px;
  height: 50px;
  display: none;
  position: fixed;
  top: 50%;
  right: 0;
}
#newPaintCanvas {
  display: none;
  border: 3px solid #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000 !important;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: crosshair;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#colorPanel {
  width: 160px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001 !important;
  display: none;
}

.colors {
  background-color: #ece8e8;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 10px;
}

.colors button {
  display: inline-block;
  border: 1px solid #00000026;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}

.colors button:nth-of-type(1) {
  background-color: rgb(255, 0, 0);
}

.colors button:nth-of-type(2) {
  background-color: rgb(0, 255, 0);
}

.colors button:nth-of-type(3) {
  background-color: rgb(0, 0, 255);
}

.brushes {
  padding-top: 5px;
}

.brushes button {
  display: block;
  width: 100%;
  border: 0;
  border-radius: 0;
  background-color: #ece8e8;
  margin-bottom: 5px;
  padding: 5px;
  height: 30px;
  outline: none;
  position: relative;
  cursor: pointer;
}

.brushes button:after {
  height: 1px;
  display: block;
  background: #808080;
  content: "";
}

.brushes button:nth-of-type(1):after {
  height: 1px;
}

.brushes button:nth-of-type(2):after {
  height: 3px;
}

.brushes button:nth-of-type(3):after {
  height: 5px;
}

.buttons {
  height: 80px;
  padding-top: 10px;
}

.buttons button {
  display: block;
  width: 100%;
  border: 0;
  border-radius: 0;
  background-color: #ece8e8;
  margin-bottom: 5px;
  padding: 5px;
  height: 30px;
  outline: none;
  position: relative;
  cursor: pointer;
  font-size: 16px;
}
